@model LocalsViewModel

@{
    ViewData["Title"] = "Locals Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Locals.css" />
}

<div class="text-center">
    @if (Model.Locals != null && Model.Locals.Any())
    {
        <table class="table" id="table-locals">
            <thead>
                <tr>
                    <th>Tempo</th>
                    <th>Temperatura</th>
                    <th>Umidade</th>
                    <th>Nível de CO2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var local in Model.Locals)
                {
                    <tr>
                        <td scope="row">@local.Time</td>
                        <td>@local.Temperatura</td>
                        <td>@local.Umidade</td>
                        <td>@local.Gas</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum dado disponível.</p>
    }
</div>
